
.nav{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    background: deepskyblue;  
    
}
.nav a{
    text-decoration: none;
    display: block;
    padding: 16px;
    color: white;
  
}

.nav a:hover{
    background: lightgreen;
}
@media all and (max-width: 600px) {
    .nav {
        justify-content: space-around;
        flex-flow: column wrap;
        padding: 0;
    }
    .nav a{
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
}
.content{
    
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    
}

.aside1{
    width: 25%;
    float: left;
    background-color: yellow;
}
p{
   
    width: 50%;
    background-color: aqua;
}
.aside2{
    width: 25%;
    float: right;
    background-color: red;
}
.footer{
    background-color: cadetblue;
    width: 100%;
    text-align: center;
}
.container{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
  gap: 20px;
  
}
.basic{
  padding: 20px;
  background-color: rgba(223, 236, 249, 0.708);
  font-size: 1rem;
  
    
}
.price-title {
    font-weight: bold;
}
.pricing{
  font-weight: bold; 
  font-size: 2rem;
}
.plan-features  {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 10px;
}

.plan-button{
   background-color: rgb(255, 85, 0); 
   color: white;
   padding: 5px;
   border-radius: 5px;
   border-style: none;
}
@media (max-width: 600px){
    .container{
        flex-direction: column;
        height: 100%;
    }
}
.chess-container{
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
}
.white{
    height: 100px;
    width: 100px;
    background-color: #f0d9b5;
}
.black{
    height: 100px;
    background-color: #b58863;
}