
.nav{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    background: deepskyblue;  
}
.nav a{
    text-decoration: none;
    display: block;
    padding: 16px;
    color: white;
}
.nav a:hover{
    background: lightgreen;
}
@media all and (max-width: 600px) {
    .nav {
        justify-content: space-around;
        flex-flow: column wrap;
        padding: 0;
    }
    .nav a{
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    
}
.content{
    
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    
}

.aside1{
    width: 25%;
    float: left;
    background-color: yellow;
}
p{
   
    width: 50%;
    background-color: aqua;
}
.aside2{
    width: 25%;
    float: right;
    background-color: red;
}
.footer{
    background-color: cadetblue;
    width: 100%;
    text-align: center;
}